.v-card-item {
  padding: 14px 16px;

  @media (min-width: 960px) {
    padding: 16px 16px;
  }
}

/* .rounded-xl {
  border-radius: 12px !important;
} */

.rounded-lg {
  border-radius: 10px !important;
}

.text-sm {
  font-size: 14px !important;
}

.text-xs {
  font-size: 12px !important;
}

.v-btn {
  text-transform: capitalize !important;
}

.v-table {
  font-size: 14px !important;
}

.dp__pointer {
  font-size: 14px !important;
}